body {
    margin: 0;
    background-color: #905EA9;
    font-family: 'Tiny5', sans-serif;
}


.titlebar {
  height: 55px;
  background: #905EA9;
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 23px;
  padding-top: 5px;
  app-region: drag;
  font-size: 20px;
}

.appBody{
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerWin{
  background: #A884F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:412px;
  width: 345px;
  margin-top: 5px;
  border: 5px solid #6B3E75;
}


.startButton{
  background: none;
  font-family: "Tiny5";
  font-size: 12pt;
}